.mainContainer {
    display: flex;
    min-height: 600px;
}

.sidebar {
    background-color: rgb(110, 110, 110);
    border-style: outset;
    border-color: rgba(66,66,66,1);
    border-width: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 270px;
    position: relative;
}

.vehicleAndChoicesContainer {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
}

.sidebarItem {
    margin:10px;
}

.sidebarButton {
    padding: 10px;
    border: 0px;
    background-color: rgb(110, 110, 110);
}

.sidebarButton:hover {
    background-color: rgb(87, 87, 87);
}

.makeSelectContainer {
}

.modelSelectContainer {
}

.choicesBottomBar {
    background: rgb(121,121,121);
    background: linear-gradient(0deg, rgba(121,121,121,1) 0%, rgba(255,255,255,1) 73%, rgba(121,121,121,1) 100%);
}

.makeSelect {
    position: absolute;
    right: 5px;
}

.modelSelect {
    position: absolute;
    right: 5px;
}

.vehicleRenderContainer {
    flex-grow: 3;
    max-height: 600px;
    width: auto;
}

.vehicleImg {
    max-height: inherit;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.choicesBottomBarHeader {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.choiceNodesContainer {
    margin: 5px;
}